.dashboard-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.left-panel,
.right-panel {
  background-color: #262323;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.left-panel {
  width: 50%;
}

.right-panel {
  width: 30%;
}

@media (max-width: 800px) {
  .dashboard-layout {
    flex-direction: column;
    align-items: center;
  }

  .left-panel,
  .right-panel {
    width: 90%;
    margin-bottom: 20px;
  }
}
